#usa,
#australia {
    height: 730px;
}

.lrn-isAvailable {
  background: white;
  border-right: 1px solid #cccccc;
}

.lrn-isTake {
  background: #CE1632;
  color: #ffffff;

  h3 {
    text-align: center;
  }
}

.lrn-booking-logo {
  width: 400px;
  height: 400px;
}
